@font-face {
    font-family: "poppins400";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins600";
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppins700";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@import "tailwindcss";

.container{
    max-width: 1152px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}